.headliner {
  font-size: 15vw;
  color: yellow;
  text-shadow: -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red, 2px 2px 0 red,
    0 0 15px rgba(255, 0, 0, 0.7);
  text-transform: uppercase;
  letter-spacing: 2px;
  @media (max-width: 768px) {
    margin-top: 5.5rem;
  }
}

.home_img {
  position: absolute;
  width: 250px;
  height: auto;
  border-radius: 23px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 768px) {
    width: 250px;
  }
}

.hover_layer {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 11%;
  height: 19%;
  transform: translate(-14%, 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  cursor: pointer;
  overflow: hidden;
}

.hover_layer.active {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: none;
}
/* Social Icons - Start inside image */
.social_icons {
  position: fixed;
  font-size: 3rem;
  color: white;
  opacity: 0;
  transition: font-size 0.1s ease-in-out, top 0.4s ease-in-out,
    left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  z-index: 20;
  transform: translate(-50%, -50%);
}

/* Icon hover effect */
.social_icons:hover {
  font-size: 3.2rem;
}

/* Small screens */
@media (max-width: 768px) {
  .social_icons {
    font-size: 1.5rem;
  }

  .social_icons:hover {
    font-size: 1.7rem;
  }
}
