.bar {
  position: fixed;
  transform: rotate(90deg);
  width: 10vw;
  right: 0%;
  top: 50%;
  @media screen and (max-width: 376px) {
    width: 20%;
  }
}
.email {
  position: fixed;
  top: 50%;
  left: 0%;
  transform: rotate(270deg);
  @media screen and (max-width: 376px) {
    left: -18%;
  }
}
