.timeline-container {
  color: white;
  padding: 2rem 1rem;
  position: relative;
}

.timeline {
  position: relative;
  margin: 0 auto;
  padding: 2rem 0;
  width: 80%;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  background: white;
  top: 0;
  bottom: 0;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item::before {
  content: "";
  position: absolute;
  top: 20px;
  width: 12px;
  height: 12px;
  background: white;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left::before {
  right: -6px;
}

.timeline-item.right::before {
  left: -6px;
}

.content .date,
.content .company,
.content .title,
.content .desc {
  margin: 0.3rem 0;
}
