

/* about css */

.about-image {
  border-radius: 1rem 0 0 1rem;
  @media screen and (max-width: 414px) {
    border-radius: 1rem 1rem 0rem 0rem;
  }
}

.tilt {
  transition: all 0.3s ease-in-out;
}
.tilt:hover {
  transform: rotate(5deg);
}
/* Container */
.hover_inline {
  color: white;
  border-radius: 10px;
  height: 50%;
  position: relative;
  width: 100%;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
}

/* Initially scattered */
.word {
  position: absolute;
  font-size: 5rem;
  transition: all 0.8s ease-in-out; /* Smooth transition */
}

/* On hover, move letters to aligned position */
.hover_inline:hover .word {
  position: relative;
  top: 0 !important;
  left: 0 !important;
  transform: none !important;
  margin: 0 10px;
}

/* projects */
