/* MenuButton.css */
.menu-item {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 2rem;
}

.menu-item > .menu-text {
  transform-style: preserve-3d;
  perspective: 1000px;
  overflow: hidden;
  display: inline-block;
}

.menu-text span {
  will-change: transform;
  transform-style: preserve-3d;
  transition: 0.5s;
  transition-delay: calc(0.05s * var(--index));
  transform-origin: bottom;
  display: inline-block;
  color: white;
}

.menu-item .menu-text:nth-child(2) span {
  transform-origin: top;
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover .menu-text:nth-child(1) span {
  transform: translate3d(0, -100%, 0) rotateX(-90deg);
}

.menu-item:hover .menu-text:nth-child(2) span {
  transform: translate3d(0, 0%, 0) rotateX(0deg);
}
