@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.scan-lines {
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255, 255, 255, 0.05) 1px,
    transparent 3px,
    transparent 4px
  );
  animation: scan 10s linear infinite;
}

@keyframes scan {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

.loading-content {
  display: flex;
  z-index: 3;

  flex-direction: column;
  align-items: center;
  text-align: center;
}

.futuristic-text {
  font-family: "Orbitron", sans-serif;
  color: #0ff;
  text-shadow: 0 0 10px #0ff, 0 0 20px cyan;
  animation: glitch 1.5s infinite;
}

.loading-dots {
  animation: blink 1s infinite alternate;
}

/* .progress-bar-container {
  width: 60%;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin-top: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.5);
}

.progress-bar {
  height: 100%;
  background: linear-gradient(90deg, red, #ff4500);
  transition: width 0.1s ease-in-out;
} */

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ffff;
  }
  50% {
    text-shadow: -2px -2px #ff0000, 2px 2px #00ffff;
  }
  100% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ffff;
  }
}
