@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Moogalator";
  src: url("./assets/fonts/Moogalator.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HOMOARAK";
  src: url("./assets/fonts/Pilowlava-Regular.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-mono: "Montserrat", sans-serif;
  --font-mooga: "Moogalator", sans-serif;
  --font-homo: "HOMOARAK", sans-serif;
}

:root.darkmode {
  --bg: #1a1a1a;
  --text: #fff;
  --accent: #e84545;
}

:root.lightmode {
  --bg: #fff;
  --text: #1a1a1a;
  --accent: #e84545;
}

:root.redmode {
  --bg: #e84545;
  --text: #fff;
  --accent: #1a1a1a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* main {
  margin-left: 150px;
  @media (max-width: 768px) {
    margin-left: 0;
  }
} */

.canvasbg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  background-color: var(--bg);
}

ul,
li,
a,
Link {
  text-decoration: none;
  list-style: none;
}

section {
  max-height: 100%;
  height: 100vh;
  /* padding: 3rem 0; */
}
img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.size18 {
  font-size: 18px;
  @media (max-width: 768px) {
    font-size: 12px;
  }
}

/* navbar css */
header {
  padding: 4rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  @media (max-width: 768px) {
    padding: 1rem;
  }
}
nav {
  height: 4rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    padding: 0;
  }
  .logo {
    color: var(--text);
    font-family: var(--font-mooga);
  }
  .menu {
    position: absolute;
    top: 10rem;
    left: 0;
    height: calc(100vh - 10rem);
    width: 100vw;
    color: var(--text);
    padding: 1rem 6rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    z-index: 100;
    overflow-y: auto;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    @media (max-width: 768px) {
      height: calc(100vh - 5rem);
      padding: 1rem 0;
      top: 5rem;
      flex-direction: column;
    }
  }

  .menu.show {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(10px);
    /* animation: fadeSlideIn 0.4s ease forwards; */
    @media (max-width: 768px) {
      padding: 1rem;
    }
  }
  /* @keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } */
  .menu .img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: stretch;
    @media (max-width: 768px) {
      height: 30%;
      width: 100%;
    }
  }
  .menu .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .menu .menu-content {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      height: 70%;
      width: 100%;
    }
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 6rem;
    @media (max-width: 768px) {
      padding: 0;
      height: 100%;
      gap: 2rem;
      justify-content: start;
      align-items: center;
      margin-top: 4rem;
    }
  }
  .menu ul li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    @media (max-width: 768px) {
      justify-content: center;
    }
  }
  .menu ul li a {
    font-size: 4vw;
    text-decoration: none;
    display: flex;
    color: var(--text);
    align-items: center;
    text-align: left;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2rem;
    @media (max-width: 768px) {
      letter-spacing: 0.5rem;
    }
  }

  .menu ul li a .line {
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--accent);
    transition: width 0.3s ease-in-out;
  }

  .menu ul li a:hover .line {
    width: 40px;
  }
  .mode,
  .language-switch {
    font-size: 24px;
    font-family: var(--font-mono);
    color: var(--text);
    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  .starColor {
    color: var(--bg);
  }
  /* menu icon */
  .dotgrid {
    position: relative;
    padding: 25px;
    cursor: pointer;
    overflow: hidden;
    @media (max-width: 768px) {
      padding: 18px;
    }
  }

  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid var(--text);
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    @media (max-width: 768px) {
      width: 7px;
      height: 7px;
    }
  }

  .dot:nth-child(1) {
    top: 0;
    left: 0;
  }
  .dot:nth-child(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .dot:nth-child(3) {
    top: 0;
    right: 0;
  }

  .dot:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .dot:nth-child(5) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .dot:nth-child(10) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid var(--text);
  }
  .dot:nth-child(6) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  .dot:nth-child(7) {
    bottom: 0;
    left: 0;
  }
  .dot:nth-child(8) {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .dot:nth-child(9) {
    bottom: 0;
    right: 0;
  }

  /* Hover Effects */
  .dotgrid:hover .dot:nth-child(2) {
    top: -100%;
  }
  .dotgrid:hover .dot:nth-child(4) {
    left: -100%;
  }
  .dotgrid:hover .dot:nth-child(6) {
    right: -100%;
  }
  .dotgrid:hover .dot:nth-child(8) {
    bottom: -100%;
  }

  .dotgrid:hover .dot:nth-child(5),
  .dotgrid.active .dot:nth-child(5) {
    width: 100%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  .dotgrid:hover .dot:nth-child(10),
  .dotgrid.active .dot:nth-child(10) {
    height: 100%;
    border: 1px solid var(--text);
    border-radius: 10px;
    transform: translate(-50%, -50%);
  }

  .dotgrid.active .dot:nth-child(1),
  .dotgrid.active .dot:nth-child(4),
  .dotgrid.active .dot:nth-child(7) {
    left: -100%;
  }

  .dotgrid.active .dot:nth-child(2) {
    top: -100%;
  }

  .dotgrid.active .dot:nth-child(3),
  .dotgrid.active .dot:nth-child(6),
  .dotgrid.active .dot:nth-child(9) {
    right: -100%;
  }

  .dotgrid.active .dot:nth-child(8) {
    bottom: -100%;
  }

  .dotgrid.active .dot:nth-child(5),
  .dotgrid.active .dot:nth-child(10) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}

/* Home css */
.home-section {
  padding: 0;
  /* height: calc(100vh - 4rem); */
  overflow: hidden;
  h1 {
    color: var(--text);
    text-transform: capitalize;
  }
  h3 {
    text-transform: capitalize;
    color: var(--text);
  }
  a {
    border: 1px solid var(--text);
    color: var(--text);
    &:hover {
      background-color: var(--text);
      color: var(--bg);
    }
  }
  .name {
    text-transform: uppercase;
    cursor: help;
  }
  .outline-text {
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px var(--text);
    text-stroke: 1px solid var(--accent);
    transition: all 0.3s ease;
    &:hover {
      -webkit-text-stroke: 1px var(--accent);
      text-stroke: 1px solid var(--accent);
      -webkit-text-fill-color: var(--bg);
      text-fill-color: var(--bg);
    }
  }

  .letter1,
  .letter2 {
    font-family: var(--font-homo);
    font-size: 30vw;
    position: absolute;
    z-index: -1;
    pointer-events: none;
    transition: all 0.3s ease;
    animation: shake 1s infinite linear;
  }

  .letter1.hovered {
    left: 5%;
    top: 50%;
    font-size: 22vw;
  }

  .letter2.hovered {
    right: 5%;
    bottom: 50%;
    font-size: 22vw;
  }

  .letter1 {
    left: 5%;
    top: 0%;
    font-size: 50vw;
    filter: blur(10px);
    transform: translateY(-55%);
  }

  .letter2 {
    right: 5%;
    font-size: 50vw;
    bottom: 0%;
    position: absolute;
    transform: translateY(40%);
    filter: blur(10px);
  }

  @keyframes shake {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(1deg);
    }
    50% {
      transform: rotate(-1deg);
    }
    75% {
      transform: rotate(1deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

/* about css */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  h2 {
    color: var(--text);
    font-family: var(--font-homo);
  }
  p {
    color: var(--text);
    font-family: var(--font-mono);
  }
  .about-card {
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 60%;
    min-height: 100vh;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
    }
  }
  .img_con {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    border-radius: 0;
    @media (max-width: 768px) {
      border-radius: 0;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    @media (max-width: 768px) {
      height: 100%;
    }
  }
}

/* footer css */
footer {
  color: var(--text);
  font-family: var(--font-mono);
  padding: 1rem;
  .footer_content {
    margin: 2rem 5rem;
  }
  .email {
    margin: 0;
  }
  .dateTime {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1.2rem;
    color: var(--text);
    font-family: var(--font-mono);
  }
  @media (max-width: 768px) {
    .email,
    .dateTime {
      font-size: 10px;
    }
    .dateTime {
      gap: 5px;
    }
    .footer_content {
      margin: 0 1rem;
    }
    footer {
      padding: 1rem;
    }
  }
}

/* error css */
.error {
  text-transform: capitalize;
  h1 {
    color: var(--text);
    font-family: var(--font-mono);
  }
  p {
    color: var(--text);
  }
  .btn {
    color: var(--accent);
    border: 1px solid var(--text);
    &:hover {
      color: var(--accent);
      border: 1px solid var(--text);
      background-color: var(--bg);
    }
  }
}
